streamlit>=1.46.0
streamlit-autorefresh>=1.0.1
pandas>=2.2.3
numpy>=2.2.6
requests==2.31.0
fyers-apiv3>=3.1.7
pyotp>=2.9.0
python-dateutil>=2.9.0
websocket-client==1.6.1
python-dotenv>=1.0.1
pytz>=2025.2
orjson>=3.10.18
yfinance>=0.2.52
xlsxwriter>=3.2.0
